:root {
	color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
	html, body {
		color: black;
		background-color: white;
	}
	button, input, select, textarea, table td, #statusMessage {
		border: 2px solid #b4b4b4;
	}
}

@media (prefers-color-scheme: dark) {
	html, body {
		color: white;
		background-color: black;
	}
	button, input, select, textarea, #statusMessage {
		color: white;
		background-color: #202020;
		caret-color: white;
		border: 2px solid #545454;
	}
	button:hover:not(.saved) {
		background-color: #404040;
	}
	table td {
		border: 2px solid #545454;
	}
	::selection {
		color: black;
		background-color: #4cf;
	}
	input:disabled {
		color: #999;
		background-color: #333;
		border: 2px inset #454;
	}
}

html, body {
	font-size: 1rem;
}
body {
	margin: 0.6em 1.0em;
	padding: 0;
}

h4 {
	margin: 0;
}
table {
	border-collapse: collapse;
	width: 100%
}
table td {
	padding: 0 0.5em;
}
input[type="search"], input[type="text"] {
	width: 40em;
	max-width: 100%;
}
button, label, input[type="checkbox"] {
	cursor: pointer;
}
label, #saveLinks, #Toc {
	user-select: none;
}

[title] {
	cursor: help;
}

.stick {
	position: sticky;
	top: 1em;
}
.category {
	margin-bottom: 1.4em;
}
.spacerTop {
	margin-top: 0.2em;
}
.spacer {
	margin-bottom: 0.8em;
}
.listIndent {
	margin-left: 1.2em;
}
.listIndent > summary {
	margin-left: -1.2em;
}
.linkList {
	margin-left: 1em;
	display: grid;
}
.emptyList {
	color: #808080;
}
.saved {
	background-color: #080;
	border-color: #040;
}
.hidden {
	display: none;
}
.hideText td:nth-child(1) {
	display: none;
}
.floatRight {
	float: right;
	right: 1.2em;
}
